@{
    ViewBag.Title = "Um borðspil";
}

<div class="grid_12 title">
    <h2>@ViewBag.Title</h2>
</div>
<div class="clear"></div>
<div class="grid_8">
    <p>
        Borðspil.is er verkefni í þriggja vikna áfanga í Tölvunarfræði HR
         árið 2013 en höfundar síðunnar eru í stafrófsröð:
    </p>
    <p>
        <ul>
            <li>Andri Ólafsson</li>
            <li>Arna Ösp Magnúsdóttir</li>
            <li>Arnór Bogason</li>
            <li>Jóhann Friðgeir Jóhannsson</li>
            <li>Jón Heiðar Erlendsson</li>
            <li>Viktor Smári Ágústuson</li>
        </ul>
    </p>


    <p><a href="mailto:bordspil@bordspil.is">Sendu okkur póst.</a></p>

</div>
<div class="clear"></div>
