@{
    ViewBag.Title = "Um borðspil";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<article>
</article>

<aside>
    <ul>
        <li>@Html.ActionLink("Heim", "Index", "Home")</li>
        <li>@Html.ActionLink("Um borðspil", "About", "Home")</li>
        <li>@Html.ActionLink("Hafa samband?", "Contact", "Home")</li>
    </ul>
</aside>