@{
    ViewBag.Title = "Um borðspil";
}

<hgroup class="title">
    <h2>@ViewBag.Title</h2>
</hgroup>

<article>
    <p>
        Borðspil.is er verkefni í þriggja vikna áfanga í Tölvunarfræði HR
         árið 2013 en höfundar síðunnar eru í stafrófsröð:
    </p>
    <ul>
        <li>Andri Ólafsson</li>
        <li>Arna Ösp</li>
        <li>Arnór Bogason</li>
        <li>Jóhann 7oi</li>
        <li>Jón Heiðar</li>
        <li>Viktor Smári</li>
    </ul>

</article>

<aside>
    <ul>
        @*        <li>@Html.ActionLink("Heim", "Index", "Home")</li>*@
        <li>@Html.ActionLink("Sendu okkur póst", "", "Home")</li>
    </ul>
</aside>
