@{
    ViewBag.Title = "Hafa samband";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p>Borðspil.is er verkefni í þriggja vikna áfanga HR.</p>
<a href="mailto:viktorsmari@gmail.com">Sendu okkur fyrirspurn</a>