@model Bordspil.ViewsModels.GamesStoreViewModel

@{
    ViewBag.Title = "Game";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.GameType.FirstOrDefault().gameTypeName</h2>

<div>
    @foreach (var item in Model.Game)
    {
        <div>
            <p>@item.gameID</p>
            <p>@item.gameName</p>
            <p>@item.gameActive</p>
        </div>
    }
</div>
