@model IEnumerable<Bordspil.Models.UserProfile>
@{
    ViewBag.Title = "UserList";
}

<h2>User List</h2>

<div>
    @foreach (var item in Model)
    {
        <div class="userlist-user-wrap">
            @Html.ActionLink(item.UserName, "Details", new { id=item.UserId })
            <a href="@Url.Action("Details", new { id=item.UserId })"><img class="userlist-prof-pic" src="@item.ProfilePicUrl" /></a>
            <p>@item.Points</p>
        </div>
    }

</div>
<div class="hreinsarinn">

</div>
