@if (Request.IsAuthenticated) {
    <text>
        <span class="hallo-i-header">Halló, </span>@Html.ActionLink(User.Identity.Name, "Manage", "Users", routeValues: null, htmlAttributes: new { @class = "username", title = "Prófíll" })!
        @using (Html.BeginForm("LogOff", "Users", FormMethod.Post, new { id = "logoutForm" })) {
            @Html.AntiForgeryToken()
            <a href="javascript:document.getElementById('logoutForm').submit()">Útskrá</a>
        }
    </text>
} else {
    <ul>
        <li>@Html.ActionLink("Nýskrá", "Register", "Users", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Innskráning", "Login", "Users", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
