@{
    ViewBag.Title = "LeikreglurAllar";
}

<h2>Leikreglur</h2>

<div>
    @Html.ActionLink("Leikreglur fyrir Blackjack", "ReglurBJ", "Game")
</div>

<div>
    @Html.ActionLink("Leikreglur fyrir Risk", "ReglurRisk", "Game")
</div>