@model Bordspil.ViewsModels.GamesStoreViewModel
@{
    ViewBag.Title = @Model.GameTypeInstance.gameTypeName;
}
<div id="play-gameArea">
    @Html.Partial("~/" + @Model.GameTypeInstance.gameTypeLink);
</div>   

<div id="play-chat">
    
</div>