@model Bordspil.ViewsModels.GamesStoreViewModel
@{
    ViewBag.Title = "Play";
}
<div id="gameArea">

</div>   

@section scripts {
    <script type="text/javascript">
        $(function () {
            $('#gameArea').load('/@Model.GameTypeInstance.gameTypeLink')
        });
    </script>
}

