@{
    ViewBag.Title = "ReglurBJ";
}

<h2>Reglur BlackJack</h2>

<h3>Markmið leiksins</h3>
    <p>Eftir að hafa fengið 2 spil dregur leikmaður spil til að nálgast verðmæti 21 án þess að fara yfir það. 
       Leikmaður sem er næst 21 vinnur. Í hverri umferð leggja leikmenn undir ákveðna upphæð og ef leikmaður vinnur gjafarann fær hann upphæðina tvöfalda til baka. 
       Ef hann fær BlackJack (21 í tveim spilum) þá fær hann 3/2 hluta upphæðinnar.</p>

<h3>Spilun</h3>
    <p>Spilin eru sýnileg öllum leikmönnum. Leikmenn spila einungis við gjafarann en ekki hvorn annan. 
        Leikmenn skiptast á við gjafarann að draga spil. Þegar leikmaður vill ekki draga fleiri spil þá velur hann að “standa”. Ef leikmaður fer yfir 21 þá “springur” hann og tapar umferðinni.</p>

<h3>Gildi spila</h3>
<p>Gildi ása eru 1 eða 11, eftir því hvort hentar betur fyrir leikmann. Gildi mannspila er 10. Gildi annara spila jafngildir spilatölu þeirra.</p>

