@{
    ViewBag.Title = "ReglurRisk";
}

<h2>Reglur fyrir Risk</h2>

<div>

<h3>Almennt</h3>
    <p>Leikurinn Risk gengur þannig fyrir sig að tveir til fimm leikmenn keppast um heimsyfirráð á landakorti sem skipt er upp í 6 heimsálfur, sem aftur skiptast upp í lönd eða svæði.</p>
<div>
    <strong>North America</strong>
    <ol>
        <li>Alaska</li>
        <li>Alberta</li>
        <li>Central America</li>
        <li>Eastern United States</li>
        <li>Greenland</li>
        <li>Northwest Territory</li>
        <li>Ontario</li>
        <li>Quebec</li>
        <li>Western United States</li>
    </ol>
    <strong>South America</strong>
    <ol>
        <li>Argentina</li>
        <li>Brazil</li>
        <li>Peru</li>
        <li>Venezuela</li>
    </ol>
    <strong>Europe</strong>
    <ol>
        <li>Great Britain</li>
        <li>Iceland</li>
        <li>Northern Europe</li>
        <li>Scandinavia</li>
        <li>Southern Europe</li>
        <li>Ukraine</li>
        <li>Western Europe</li>
    </ol>
    <strong>Africa</strong>
    <ol>
        <li>Central Africa</li>
        <li>East Africa</li>
        <li>Egypt</li>
        <li>Madagascar</li>
        <li>North Africa</li>
        <li>South Africa</li>
    </ol>
    <strong>Asia</strong>
    <ol>
        <li>Afghanistan</li>
        <li>China</li>
        <li>India</li>
        <li>Irkutsk</li>
        <li>Japan</li>
        <li>Kamchatka</li>
        <li>Middle East</li>
        <li>Mongolia</li>
        <li>Siam (i.e. South-east Asia)</li>
        <li>Siberia</li>
        <li>Ural</li>
        <li>Yakutsk</li>
    </ol>
    <strong>Australia</strong>
    <ol>
        <li>Eastern Australia</li>
        <li>Indonesia</li>
        <li>New Guinea</li>
        <li>Western Australia</li>
    </ol>
</div>

<div>
    <p>Teningakast ræður hvaða leikmaður byrjar.</p>
    <p>Upphafsumferð (leikmenn skiptast á að leggja eitt hrtlið á lönd. Fjöldi hermanna ræðst af fjölda leikmanna). 
       Þegar landgöngulið er á hverju landi byrja leikmenn að bæta við lið sín.</p>
    <p>Ef tveir leikmenn: Hvor leikmaður fær 40 landgönguliða og þriðja liðið (tölvan) fær líka 40 leikmenn. Tölvan spilar bara varnarleik, þ.e. ræðst ekki inn í lönd.
    Ef þrír leikmenn: Hver leikmaður spilar út 35 landgönguliðum
    Ef fjórir leikmenn: Hver leikmaður spilar út 30 landgönguliðum
    Ef fimm leikmenn: Hver leikmaður spilar út 25 landgönguliðum
    </p>
    <p>Þegar allir leikmenn hafa raðað sínum leikmönnum hefst leikurinn á sama manni og lagði fyrstur niður herlið. 
        Hver umferð leiksins er þrískipt: liðsauki, árás og varnir.</p>
</div>
</div>
<div>

<h3>Liðsauki</h3>
    <p>Í fyrsta hluta umferðar fær leikmaður úthlutað liðsauka sem hann dreifir á lönd sem hann á. 
    Liðsaukinn ræðst af tveimur þáttum:</p>
    <ol>
        <li>Fjölda landsvæða sem leikmaður á er deilt með þremur (og rúnnað niður að næstu heiltölu. Ef útkoman er undir þremur er rúnnað upp að þremur).</li>
        <li>Viðbótar-liðsauki fæst ef leikmaður á heila heimsálfu. Hann reiknast á eftirfarandi hátt:
            <ol>
                <li>Asía = 7</li>
                <li>Norður-Ameríka = 5</li>
                <li>Evrópa = 5</li>
                <li>Afríka = 3</li>
                <li>Ástralía = 2</li>
                <li>Suður-Ameríka = 2</li>
            </ol>
        </li>
    </ol>

</div>
<div>

<h3>Árás</h3>
    <p>Í árásarhluta umferðar má leikmaður ráðast á óvinaheri sem eru á aðliggjandi löndum við hans eigin. Leikmaður má gera eins margar árásir og hann vill svo lengi sem fjöldi herliða er nægur. 
    Hann má líka sleppa því að gera árás í umferð. Árás er framkvæmd með teningakasti.  
    Leikmaður getur valið að gera árás með einum, tveim eða þremur teningum sem standa fyrir eitt herlið hver. Aldrei má skilja land eftir herlaust. 
    Það verður því að vera a.m.k. eitt herlið eftir á árásarlandinu og fjöldi herliða verður því að vera a.m.k. einum meiri en teningarnir. </p>
</div>
<div>

<h3>Vörn</h3>
    <p>Vörn innrásarlandsins fer einnig fram með teningakasti en varnarliðið hefur þar völ á einum eða tveimur teningum. Ef tveim teningum er kastað í vörn verða að vera a.m.k. tvö herlið á landinu.</p>

</div>
<div>

<h3>Úrslit orrustu</h3>
    <p>Úrslit ráðast með því að bera saman hæstu köst beggja aðila, og næst hæstu ef það á við. Sá sem hefur hærri tölu í hverjum samanburði telst hafa unnið þá orrustu. 
    Fyrir hvert tap skal sá sem bíður í lægri hlut fjarlægja eitt lið af landi sínu. 
    Ef köstin eru jafnhá telst innrásarlandið hafa unnið.</p>

    <p>Ef árás hefur þau áhrif að her í innrásarlandi þurrkast út verður árásaraðilinn að færa þann fjölda sem hann notaði í árásina hið minnsta. 
        Hann má færa fleiri svo fremi sem hann skilur eftir eitt lið.</p>

</div>
<div>

<h3>Varnir</h3>
    <p>Þegar árásarhluta er lokið tekur við uppbygging varna. Þá má leikmaður færa herlið frá einu landa sinna til annars aðliggjandi, en má þó ekki skilja land eftir herlaust.</p>
    <p>Að því loknu er komið að þeim leikmanni sem er á vinstri hönd.</p>

</div>
<div>

<h3>Lok leiks</h3>
    <p>Ef leikmaður eignast öll löndin telst hann hafa unnið og leiknum lýkur. Hann fær 10000 stig fyrir hvern sigur.</p>

</div>